.section-perform
  .section-perform__body
    .section-perform__column
      .section-perform__content
        h1.section-perform__title.t-h1 Лучшие&nbsp;цены&nbsp;на&nbsp; строительные инструменты и&nbsp; материалы
        .section-perform__text Бесплатная доставка при&nbsp;заказе от&nbsp;5000&nbsp;₽
        .section-perform__buttons
          .section-perform__button
            span Строительные материалы
          .section-perform__button
            span Электроинструмент
          .section-perform__button
            span Бензоинструмент
          .section-perform__button
            span Металл
          .section-perform__button
            span Сантехника
          .section-perform__button
            span Крепеж и метизы
          .section-perform__button
            span Товары для сада и огорода
          .section-perform__button
            span Краски и химия
          .section-perform__button
            span Пиломатериалы
          .section-perform__button
            span Электротовары
          .section-perform__button
            span Сопутствующие товары
          .section-perform__button
            span Ручной инструмент
          .section-perform__button
            span Измерительные приборы
    .section-perform__column
      .section-perform__image
        +picture('/img/picture/building.png', 'image')
