.section-perform._container
	.section-perform__body
		.section-perform__column
			.section-perform__content
				h1.section-perform__title.t-h1 Лучшие&nbsp;цены&nbsp;на&nbsp; строительные инструменты и&nbsp; материалы
				.section-perform__text Бесплатная доставка при&nbsp;заказе от&nbsp;5000&nbsp;₽
				.collection.section-perform__collection 
					each item in selection
						a(href=linkTo("categories/" + item.links, filename)).collection__button 
							span= item.text
		.section-perform__column
			.section-perform__image
				+picture('/img/picture/building.png', 'image')
