extends ./src/pug/layouts/app_layout
append link
prepend script
block title
block main-content 
	section.main-content__section
		include ./src/pug/sections/section-perform
	section.main-content__section
		include ./src/pug/sections/section-label
	section.main-content__section
		include ./src/pug/sections/section-product-prices
	section.main-content__section
		include ./src/pug/sections/section-new-products
	section.main-content__section
		include ./src/pug/sections/section-categories
