/* stylelint-disable at-rule-descriptor-value-no-unknown */
:root {
  --alarm-color: rgb(255 74 74 / 60%);
  --width: calc(0px + (260 - 0) * ((100vw - 320px) / (1024 - 320)));
  --background-transparent: rgb(14 14 19 / 85.5%);
  --thumb-color: rgb(16 71 28 / 37.7%);
  --background-hover: rgb(94 77 168 / 24%);
  --scrollbar-thumb-color: rgb(133 133 133 / 32.2%);
  --pos: center center;
  --size: 0;
  --inset-top: 0;
  --inset-right: 100%;
  --inset-bottom: 100%;
  --inset-left: 0;
}

/* stylelint-disable annotation-no-unknown */
:root {
  --mq-header-size: normal;
}

.section-favourites {
  padding-block: 1.4rem 6rem !important;
}
.section-favourites__title {
  margin-bottom: 5rem;
  font-size: 3.5rem;
  text-transform: uppercase;
}
@media screen and (width <= 425px) {
  .section-favourites__title {
    font-size: 2.3rem;
  }
}
.section-favourites__body {
  display: flex;
  gap: 3rem;
  height: 100%;
}
.section-favourites .product-slide {
  width: 100%;
}
.section-favourites .product-slide__body {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, minmax(auto, 255px));
  gap: 3.1rem;
  width: 100%;
}
@media screen and (width <= 1289px) {
  .section-favourites .product-slide__body {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 2rem;
  }
}
@media screen and (width <= 820px) {
  .section-favourites .product-slide__body {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
  }
  .section-favourites .product-slide__body :root {
    --mq-header-size: big;
  }
}
@media screen and (width <= 580px) {
  .section-favourites .product-slide__body {
    grid-template-columns: repeat(1, minmax(auto, 1fr));
    gap: 20px;
  }
}
