@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");
:root {
  --astorRender: url("../img/pictures/i.png");
  --width: calc(0px + (260 - 0) * ((100vw - 320px) / (1024 - 320)));
  --font-color-default: rgb(0, 0, 0);
  --font-color-second: rgb(77, 91, 206);
  --font-color-title: rgb(136, 192, 255);
  --font-color-active: rgb(119, 150, 243);
  --font-color-not-active: rgba(139, 176, 255, 0.424);
  --background-color: rgb(210, 242, 255);
  --background-second: rgb(2, 10, 16);
  --background-selected: rgba(43, 45, 65, 0.337);
  --background-transparent: rgba(14, 14, 19, 0.855);
  --selected-color: rgb(94, 77, 168);
  --thumb-color: rgb(149, 186, 224);
  --background-hover: rgba(94, 77, 168, 0.24);
  --scrollbar-thumb-color: rgb(36, 52, 68);
  --border-color: rgb(255, 184, 181);
  --pos: center center;
  --size: 0;
  --inset-top: 0;
  --inset-right: 100%;
  --inset-bottom: 100%;
  --inset-left: 0;
  --stripe-width: 10px;
  --nav-marker-border: rgb(59, 134, 134);
  --sidebar-width: 28.5rem;
  --duration: 0.3s;
  --button-size: 4rem;
  --mob-expanded-width: 320px;
  --mob-collapsed-width: 4rem;
}

.background-clip::before {
  content: "Храмы";
  display: block;
  position: absolute;
  background-clip: text;
  color: transparent;
  text-shadow: none;
  background-size: 300% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
  mix-blend-mode: multiply;
}

.box-shadow {
  box-shadow: 0 1px 5px #000000;
  backdrop-filter: blur(10px);
}

.gradient-border-bottom {
  background-image: linear-gradient(to left top, rgba(205, 215, 238, 0.61) 25%, transparent 75%);
}

.line-through {
  text-decoration: line-through;
  opacity: 0.5;
}

.gradient-loader, .preloader {
  background-image: radial-gradient(ellipse at bottom center, rgba(36, 52, 68, 0.37) 30%, transparent), radial-gradient(ellipse at 10% 0, rgba(23, 27, 28, 0.877) 25%, rgba(238, 238, 238, 0) 70%, transparent 100%), radial-gradient(ellipse at 110% 100%, rgba(23, 27, 28, 0.733) 25%, rgba(238, 238, 238, 0) 70%, transparent 100%), radial-gradient(circle at 0 100%, rgb(0, 0, 0) 0, rgba(36, 52, 68, 0.37) 30%, transparent), radial-gradient(circle at 100% 0, rgb(0, 0, 0), rgb(0, 0, 0) 30%, transparent), radial-gradient(ellipse at 30% 2%, #171b1c 0, rgb(0, 0, 0) 100%, transparent);
}

.effect-blink {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  pointer-events: none;
}
.effect-blink::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 800px;
  background: linear-gradient(90deg, transparent, rgba(36, 52, 68, 0.6235294118), transparent);
  opacity: 0.4;
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.1s;
  animation: blick 3s infinite linear;
}

.link_split {
  position: relative;
  outline: 0;
  line-height: 1;
  transition: color 0s 0.3s;
  display: inline-block;
  white-space: nowrap;
}
.link_split:hover {
  text-shadow: none;
  color: transparent;
  transition: none;
}
.link_split:hover::before {
  transform: translate3d(0px, -2px, 0);
}
.link_split:hover::after {
  transform: translate3d(0px, 2px, 0);
}
.link_split:hover::before, .link_split:hover::after {
  transition: color 0.3s, transform 0.3s;
}
.link_split::before, .link_split::after {
  content: attr(data-letters);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  transition: color 0.3s, opacity 0.3s, transform 0.5s;
}
.link_split::before {
  clip-path: polygon(0 0, 100% 0%, 100% 30%, 0 65%);
}
.link_split::after {
  clip-path: polygon(0 65%, 100% 30%, 100% 100%, 0 100%);
}

.link_underline-center {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.link_underline-center::before {
  content: "";
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: transform 0.3s ease-in-out;
  opacity: 0.6;
  background-color: oklch(35.043% 0.09308 147.299deg);
}
.link_underline-center::after {
  bottom: 0;
  left: 0;
}
.link_underline-center:hover::before {
  transform: scaleX(1);
}
.link_underline-center:hover a {
  opacity: 1;
}

.link_underline {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.link_underline::before, .link_underline::after {
  content: "";
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: transform 0.3s ease-in-out;
  opacity: 0.6;
  background-color: rgb(250, 250, 255);
}
.link_underline::after {
  bottom: 0;
  left: 0;
}
.link_underline::before {
  bottom: 0;
  right: 0;
}
.link_underline:hover::before, .link_underline:hover::after {
  width: 47%;
  transform: scaleX(1);
}
.link_underline:hover a {
  opacity: 1;
}

.link_underline-lr {
  position: relative;
  transition: color 0.3s ease-in-out;
}
.link_underline-lr::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  transition: width 0.3s ease-in-out;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6901960784), #5e4da8);
}
.link_underline-lr span {
  pointer-events: none;
}
.link_underline-lr::before {
  bottom: 0;
  left: 0;
}
.link_underline-lr:hover span {
  opacity: 1;
}
.link_underline-lr:hover::before {
  width: 100%;
}

.grad-blink {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 119, 255, 0.438) 50%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  transition: 0.3s;
  top: -50%;
}

.grad_underline {
  /* Определяем фоновые изображения */
  transition: background-size 400ms;
  /* Размер фона для каждого слоя */
  background-image: linear-gradient(to left, transparent, transparent), linear-gradient(to left, var(--background-selected), var(--font-color-active));
  /* Позиционирование фона */
  background-repeat: no-repeat;
  /* Повторение фона */
  background-position: 100% 100%, 0 100%; /* Второе изображение */
  /* Переход для изменения размера фона */
  background-size: 100% 1px, 0 1px; /* Второе изображение */
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader__loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.preloader__loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ff3d00 transparent;
}

.preloader-remove {
  display: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.burger-button {
  cursor: pointer;
  transition: opacity 0.5s ease-in;
}
.burger-button__line {
  width: 20px;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 6px auto;
  transition: all 0.3s ease-in-out;
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  transform: translateY(8px);
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  transform: translateY(-8px);
}

:root {
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bg-color: rgba(0, 0, 0, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(0, 0, 0, 0.5);
  --swiper-scrollbar-size: 0.4rem;
  --swiper-scrollbar-bottom: 0.4rem;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-border-radius: 1rem;
  --swiper-theme-color: $themeColor;
  --swiper-navigation-size: 3rem;
  --swiper-pagination-color: #f65e38;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-size: 1.2rem;
  --swiper-pagination-bullet-border-radius: 50%;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
  --swiper-pagination-bullet-inactive-color: rgb(0, 0, 0);
  --swiper-pagination-bullet-width: 1.2rem;
  --swiper-pagination-bullet-height: 1.2rem;
  --swiper-pagination-top: auto;
  --swiper-pagination-bottom: 0.5rem;
  --swiper-pagination-bullet-horizontal-gap: 0.5rem;
  --swiper-transition-opacity: 0.9s;
}

@media (min-width: 920.99px) {
  /* FLOW: RIGHT */
  [data-tooltip] {
    position: relative;
  }
  [data-tooltip]::after {
    content: attr(data-tooltip);
    border-radius: 0.6rem;
    border: 1px solid var(--border-color);
    background-color: rgba(35, 52, 59, 0.8705882353);
    position: absolute;
    padding: 1.2rem;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    z-index: 9;
    white-space: nowrap;
  }
  [data-tooltip]::before {
    content: "";
    border: 9px solid transparent;
    border-right: 9px solid var(--font-color-active);
    position: absolute;
    z-index: 9;
    margin-left: -20px;
    bottom: 12%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
  }
  [data-tooltip]:hover::before,
  [data-tooltip]:hover::after {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  [data-tooltip=""]::before,
  [data-tooltip=""]::after {
    display: none !important;
  }
  [data-tooltip][flow^=right]::after {
    top: 50%;
    left: calc(120rem + 10px);
    transform: translate(0.5em, -50%);
  }
  [data-tooltip][flow^=right]::before {
    top: 50%;
    left: 121rem;
    transform: translate(0.5em, -50%);
  }
  [data-tooltip][flow^=right]:hover::before,
  [data-tooltip][flow^=right]:hover::after {
    animation: data-tooltip 300ms ease-out forwards;
  }
  @keyframes data-tooltip {
    to {
      opacity: 1;
      transform: translate(-110rem, -50%);
    }
  }
}
.breadcrumb a:after {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #e7e9eb;
  position: absolute;
  right: -12px;
  top: 0;
  z-index: 1;
}

html {
  font-style: normal;
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  height: 100%;
  counter-reset: heading;
  color: var(--font-color-default);
  scroll-behavior: smooth;
}
@media screen and (max-width: 1140px) {
  html {
    font-size: 50%;
  }
}

body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  font: 1.4rem/1.4 "Roboto", sans-serif;
  font-weight: 400;
  background: rgb(255, 255, 255);
  line-height: 1;
}
body.no-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
}
@media screen {
  * {
    scrollbar-width: thin;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  vertical-align: baseline;
  background-color: transparent;
}

a:focus {
  text-decoration: none;
}

a:visited {
  vertical-align: middle;
  text-emphasis-style: none;
}

input,
button,
textarea {
  border: none;
}

button,
input[type=submit] {
  display: inline-block;
  cursor: pointer;
  background: transparent none;
  box-shadow: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

a:focus,
a:active,
input:focus,
textarea:focus {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-style: inherit;
}

::selection {
  color: rgb(155, 153, 153);
  background-color: rgba(0, 84, 99, 0.247);
  text-shadow: 0 1px 0 #000;
}

::-moz-selection {
  color: rgb(155, 153, 153);
  background-color: rgba(0, 84, 99, 0.247);
  text-shadow: 0 1px 0 #000;
}

::-webkit-scrollbar {
  width: 0.8rem;
  padding: 0.031em;
  position: fixed;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb {
  border: 1px solid var(--border-color);
  border-radius: 2px;
  background-color: var(--thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--background-hover);
}

@font-face {
  font-family: "icon-set";
  font-display: swap;
  src: url("../fonts/icon-set.eot") format("eot"), url("../fonts/icon-set.woff") format("woff"), url("../fonts/icon-set.woff2") format("woff2"), url("../fonts/icon-set.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.sidebar-menu {
  position: fixed;
  width: 100%;
  height: calc(100vh - 80px);
  right: 0;
  top: 80px;
  z-index: 13;
  min-width: 288px;
  max-width: 320px;
  pointer-events: all;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.sidebar-menu .header__text {
  max-width: 100%;
}
.sidebar-menu._open-menu {
  transform: translateX(0);
}
@media (min-width: 960.99px) {
  .sidebar-menu {
    display: none;
  }
}
.sidebar-menu .header__text {
  color: #fff;
}
.sidebar-menu__body {
  height: 100%;
  background-color: rgb(0, 0, 0);
}
.sidebar-menu__content {
  height: 100%;
  max-width: 400px;
  transform-origin: 200% 100%;
  box-shadow: -2px 0 7px #2b2b2b;
  border: 1px solid rgba(128, 128, 128, 0.322);
  border-top: none;
  border-bottom: none;
}
.sidebar-menu__menu {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  background-clip: padding-box;
  transform: translate3d(0, 0, 0);
  position: relative;
  height: 100%;
  overflow-x: hidden;
  transform-origin: 0 50%;
  text-shadow: none;
}
.sidebar-menu__menu .header__menu-items {
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 2rem;
  color: #fff;
}
.sidebar-menu__menu .header__sub-item {
  padding: 5px 20px;
}
.sidebar-menu__menu-header {
  padding: 20px 10px;
  line-height: 1;
  border-bottom: 1px solid rgb(94, 77, 168);
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
.sidebar-menu__menu-content {
  height: 100%;
  width: 100%;
  padding: 16px 18px 16px 16px;
  align-self: start;
  color: #222;
  font-size: 2.4rem;
}
.sidebar-menu__menu-footer {
  width: 100%;
  padding: 10px;
  border-top: 1px solid rgb(94, 77, 168);
}
.sidebar-menu .network__network-links {
  justify-content: space-evenly;
}

.network__network-links {
  display: flex;
  align-items: center;
}
.network__icon-link:not(:last-child) {
  margin-right: 2rem;
}
.network ._icon::before {
  font-size: 3.8rem;
  font-weight: 700;
}
.network .icon-telegram-fly::before {
  font-size: 3.8rem;
  font-weight: 700;
  color: #048cca;
}
.network .icon-vk-brand::before {
  color: rgba(7, 7, 7, 0.4941176471);
  font-size: 4.5rem;
}
.network .icon-whatsapp::before {
  font-size: 3.8rem;
  font-weight: 700;
  color: green;
}

@font-face {
  font-family: "icon-set";
  src: url("../fonts/icon-set.ttf?9njddx") format("truetype"), url("../fonts/icon-set.woff?9njddx") format("woff"), url("../fonts/icon-set.svg?9njddx#icon-set") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before,
[class*=" icon-"]::before {
  font-family: "icon-set" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;
}

.icon-phone-outbound:before {
  content: "\e910";
}

.icon-paragraph-right:before {
  content: "\e90f";
}

.icon-local:before {
  content: "\e90e";
}

.icon-house-holl:before {
  content: "\e900";
}

.icon-persons:before {
  content: "\e901";
}

.icon-clock:before {
  content: "\e902";
}

.icon-union:before {
  content: "\e904";
}

.icon-car:before {
  content: "\e905";
}

.icon-patch-plus:before {
  content: "\e906";
}

.icon-heart-like:before {
  content: "\e9da";
}

.icon-house:before {
  content: "\e907";
}

.icon-tools:before {
  content: "\e908";
}

.icon-person:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e90a";
}

.icon-cart:before {
  content: "\e90b";
}

.icon-telephone:before {
  content: "\e90c";
}

.icon-bar-chart:before {
  content: "\e90d";
}

.icon-heart:before {
  content: "\e903";
}

.swiper-wrapper > .swiper-slide:not(.swiper-slide-active) .main-slide__title {
  transition: opacity 0.9s ease-in-out;
  opacity: 0 !important;
}
.swiper-wrapper > .swiper-slide:not(.swiper-slide-active) .main-slide__text {
  transition: opacity 0.9s ease-in-out;
  opacity: 0 !important;
}

.menu-float {
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1764705882);
  border-top: 0.5px solid rgb(87, 96, 105);
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 111;
  background-color: #fff;
}
@media (min-width: 768.98px) {
  .menu-float {
    display: none;
  }
}
.menu-float__body {
  display: flex;
  justify-content: center;
  padding-block: 1rem !important;
}

.return-button {
  cursor: pointer;
  position: fixed;
  z-index: 13;
  top: 50%;
  right: 5px;
  margin-top: -17px;
  width: 35px;
  height: 65px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2ebe4;
}
.return-button i::before {
  text-shadow: none;
  font-weight: 400;
}
.return-button ._button {
  font-size: 3.8rem;
  position: relative;
  z-index: 13;
  left: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: transparent;
  display: flex;
  justify-content: center;
}
.return-button ._button img {
  width: 20px;
  height: 100%;
}
.return-button ._button:hover {
  animation: fadeInBackground;
}
.return-button._rotate ._button {
  scale: -1;
}

.checkbox__input {
  display: none;
}
.checkbox__input:checked + .checkbox__checked ._icon {
  scale: 1;
}
.checkbox__checked {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  line-height: 130%;
  width: 16px;
  height: 16px;
}
.checkbox__label {
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  font-size: 1.6rem;
  line-height: 110%;
  max-width: 66.1rem;
  gap: 12px;
}
@media screen and (max-width: 490px) {
  .checkbox__label {
    font-size: 12px;
  }
}
.checkbox__label ._icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  scale: 0;
  transition: scale 0.2s ease;
  transform: translateX(-1px);
  color: rgb(36, 52, 68);
}
.checkbox__label ._icon::before {
  font-size: 18px;
}
.checkbox__label::before {
  content: "";
  position: absolute;
  flex: 0 0 16px;
  height: 16px;
  width: 16px;
  background: rgb(255, 255, 255);
  transition: box-shadow 0.3s ease-in-out;
}
.checkbox__label a {
  text-decoration: underline;
  font-weight: 600;
}
.checkbox__label a:hover {
  text-decoration: none;
}

@media (min-width: 960.99px) {
  ._clip-circle {
    cursor: pointer;
    position: relative;
    z-index: 2;
  }
  ._clip-circle:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: linear-gradient(-45deg, #20193c, #020101 70%);
    clip-path: circle(var(--size) at var(--pos));
    transition: all 0.9s ease-in-out;
    z-index: 1;
  }
  ._clip-circle:hover:before {
    --size: 200%;
  }
}

.t-h1 {
  filter: contrast(120%);
  font-size: 46px;
  text-transform: uppercase;
  line-height: 117.391304%; /* 54/46 */
}
@media (min-width: 490.98px) and (max-width: 1920px) {
  .t-h1 {
    font-size: calc(17px + 29 * (100vw - 490px) / 1430) !important;
  }
}
@media screen and (max-width: 490px) {
  .t-h1 {
    font-size: 17px !important;
  }
}

.t-h2 {
  filter: contrast(120%);
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (min-width: 490.98px) and (max-width: 1920px) {
  .t-h2 {
    font-size: calc(17px + 23 * (100vw - 490px) / 1430) !important;
  }
}
@media screen and (max-width: 490px) {
  .t-h2 {
    font-size: 17px !important;
  }
}

.t-h3 {
  filter: contrast(120%);
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
@media (min-width: 490.98px) and (max-width: 1920px) {
  .t-h3 {
    font-size: calc(20px + 12 * (100vw - 490px) / 1430) !important;
  }
}
@media screen and (max-width: 490px) {
  .t-h3 {
    font-size: 20px !important;
  }
}

.t-text-14-12 {
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0;
  color: rgb(0, 0, 0);
  filter: contrast(150%);
}
@media (min-width: 490.98px) and (max-width: 1920px) {
  .t-text-14-12 {
    font-size: calc(14px + 10 * (100vw - 490px) / 1430);
  }
}
@media screen and (max-width: 490px) {
  .t-text-14-12 {
    font-size: 14px;
  }
}

.t-text-30 {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0;
}
@media (min-width: 490.98px) and (max-width: 1920px) {
  .t-text-30 {
    font-size: calc(16px + 12 * (100vw - 490px) / 1430);
  }
}
@media screen and (max-width: 490px) {
  .t-text-30 {
    font-size: 16px;
  }
}

.t-text-26 {
  font-size: 30px;
}
@media (min-width: 490.98px) and (max-width: 1920px) {
  .t-text-26 {
    font-size: calc(16px + 10 * (100vw - 490px) / 1430);
  }
}
@media screen and (max-width: 490px) {
  .t-text-26 {
    font-size: 16px;
  }
}

.button {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow: hidden;
}
.button span {
  display: block;
  text-transform: uppercase;
  pointer-events: none;
  white-space: nowrap;
}
@media screen and (max-width: 490px) {
  .button {
    height: 40px;
  }
}

.button-container button {
  background: transparent;
  transition: background 0.4s ease-in-out;
}
.button-container button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
  background: silver;
}

.header__content {
  background: #fff;
  font-family: Inter;
  font-size: 12px;
}
.header__top-menu {
  margin: 0 -2rem;
  padding: 10px 2rem;
  background: rgb(239, 239, 241);
  gap: 3.1rem;
  display: flex;
  justify-content: space-between;
}
.header__main-menu {
  display: flex;
  align-items: center;
  gap: 3.1rem;
  justify-content: space-between;
  padding: 14px 0;
}

.top-menu__column {
  flex: 0 1 20%;
}
.top-menu__column ._icon {
  font-size: 11px;
  margin-right: 3px;
}
.top-menu__list {
  min-width: 54.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.top-menu__item {
  white-space: nowrap;
  font-size: 12px;
}
.top-menu__link {
  transition: color 0.2s ease;
}
.top-menu__link:hover {
  color: oklch(35.043% 0.09308 147.299deg);
}

.main-menu__column:nth-child(1) {
  display: flex;
  gap: 2.4rem;
}
@media screen and (max-width: 768px) {
  .main-menu__column:nth-child(1) {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1260.99px) {
  .main-menu__column:nth-child(2) {
    width: 100%;
  }
}
@media (min-width: 690.98px) {
  .main-menu__column.side-button {
    display: none;
  }
}
.main-menu__logo img {
  max-width: 216px;
}
.main-menu__button {
  width: fit-content;
  color: #fff;
  display: flex;
  gap: 0.5rem;
  padding: 12px 2.84rem;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(123.22681427, 123.22681427, 123.8221130371), rgb(21, 23, 25) 100%);
  transition: scale 0.2s, box-shadow 0.2s ease-in-out;
}
.main-menu__button ._icon {
  font-size: 11px;
}
.main-menu__button span {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
}
.main-menu__button:hover {
  scale: 0.98;
  box-shadow: 0px -1px 10px 1px rgba(0, 1, 2, 0.897) inset;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(87, 96, 105);
  border-radius: 10px;
  background: rgba(217, 217, 217, 0);
}
.search-form__button-search {
  transform: translateX(1px);
  padding: 10.5px 15px;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(123.22681427, 123.22681427, 123.8221130371), rgb(21, 23, 25) 100%);
  transition: box-shadow 0.2s ease-in-out;
}
.search-form__button-search ._icon {
  transition: scale 0.2s ease-in-out;
  color: inherit;
  font-size: 1.6rem;
  color: #fff;
}
.search-form__button-search:hover ._icon {
  scale: 1.3;
}
.search-form__button-search:hover {
  box-shadow: 0px -1px 10px 1px rgba(0, 1, 2, 0.897) inset;
}
.search-form__input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.search-form__input input {
  padding: 8px;
  width: 100%;
}

.menu-header {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
@media (min-width: 920.99px) {
  .menu-header {
    min-width: 54.1rem;
  }
}
.menu-header__list {
  display: flex;
  gap: 3.4rem;
}
.menu-header__item {
  cursor: pointer;
  transition: color 0.2s ease;
}
.menu-header__item ._icon {
  font-size: 17px;
  margin-bottom: 3px;
  color: inherit;
  pointer-events: none;
  transition: scale 0.2s ease;
}
.menu-header__item:hover {
  color: oklch(35.043% 0.09308 147.299deg);
}
.menu-header__item:hover ._icon {
  scale: 1.2;
}
.menu-header__link {
  display: flex;
  flex-direction: column;
}
.menu-header__text {
  line-height: 100%;
  font-size: 12px;
  pointer-events: none;
}
.menu-header__button {
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 12px 2.84rem;
  border-radius: 10px;
  background: linear-gradient(180deg, rgb(88, 141, 3), oklch(35.043% 0.09308 147.299deg) 100%);
  transition: scale 0.2s, box-shadow 0.2s ease-in-out;
}
.menu-header__button ._icon {
  font-size: 1.4rem;
  color: #fff;
}
.menu-header__button a {
  color: #fff;
  font-size: 16px;
  white-space: nowrap;
}
.menu-header__button:hover {
  scale: 0.98;
  box-shadow: 0px -1px 10px 1px rgba(0, 1, 2, 0.897) inset;
}

.menu-screen {
  display: flex;
  justify-content: space-between;
  gap: 3.4rem;
}
.menu-screen__column:nth-child(1) {
  width: 100%;
}
.menu-screen__column:nth-child(2) {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (min-width: 920.99px) {
  .menu-screen__column:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 920px) {
  .menu-screen .button {
    min-width: 180px;
  }
  .menu-screen .main-menu__column {
    width: 100%;
  }
}
@media screen and (max-width: 690px) {
  .menu-screen {
    flex-direction: column;
    gap: 2rem;
  }
}

.page-grid {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
}
.page-grid__content {
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3.1rem;
  box-sizing: border-box;
}
@media screen and (max-width: 375px) {
  .page-grid__content {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.page-grid__column {
  width: 100%;
  height: 100%;
  background: rgba(255, 158, 67, 0.0823529412);
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 255, 234, 0.2039215686);
  pointer-events: none;
  z-index: 20;
}

.page__form-questions, .page__form-request, .page__order-call {
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 17;
  backdrop-filter: blur(40px);
  width: 100%;
  height: 100vh;
  display: flex;
  pointer-events: none;
  background-color: rgba(36, 52, 68, 0.5882352941);
  transition: opacity 0.3s ease-in-out;
  overflow-x: hidden;
}
.page__form-questions.is-open, .page__form-request.is-open, .page__order-call.is-open {
  opacity: 1;
}
.page__form-questions.is-open .form-question,
.page__form-questions.is-open .form-request,
.page__form-questions.is-open .order-call, .page__form-request.is-open .form-question,
.page__form-request.is-open .form-request,
.page__form-request.is-open .order-call, .page__order-call.is-open .form-question,
.page__order-call.is-open .form-request,
.page__order-call.is-open .order-call {
  top: 0;
  opacity: 1;
  pointer-events: auto;
}
.page__header {
  position: fixed;
  z-index: 17;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
}
.page__main-content {
  padding-top: 102px;
  position: relative;
  z-index: 8;
  width: 100%;
  height: 100%;
  inset: 0;
  line-height: 125%; /* 15/12 */
}
@media screen and (max-width: 1260px) {
  .page__main-content {
    padding-top: 140px;
  }
}
@media screen and (max-width: 690px) {
  .page__main-content {
    padding-top: 208px;
  }
}

._bg-color {
  background: rgb(36, 52, 68);
  margin: 6rem 0;
}
@media screen and (max-width: 490px) {
  ._bg-color {
    margin: 16px 0;
  }
}

.main-content__section {
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main-content__footer {
  background: #243444;
}

@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

[class*=_container] {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 2rem;
}
@media screen and (max-width: 490px) {
  [class*=_container] {
    padding: 0 16px;
  }
}

[class*=" _img"] {
  display: inline-block;
  width: auto;
  height: auto;
}
[class*=" _img"] img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  object-fit: cover;
}

[class*=_ibg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[class*=_ibg] img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
[class*=_ibg] svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[class*=icon-] {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover .grad-blink {
  opacity: 1;
  animation: rain 1s linear infinite;
}

/*# sourceMappingURL=main.css.map */
