@use 'variables-icon' as *;

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: '#{$icon-font-family}' !important;
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1;
  text-transform: none;
  letter-spacing: 0;
}

.icon-sum {
  &::before {
    content: $icon-sum;
  }
}
.icon-rub {
  &::before {
    content: $icon-rub;
  }
}
.icon-minus {
  &::before {
    content: $icon-minus;
  }
}
.icon-plus {
  &::before {
    content: $icon-plus;
  }
}
.icon-heart {
  &::before {
    content: $icon-heart;
  }
}
.icon-recycle {
  &::before {
    content: $icon-recycle;
  }
}
.icon-arrow-down {
  &::before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-up {
  &::before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-left {
  &::before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &::before {
    content: $icon-arrow-right;
  }
}
.icon-phone-outbound {
  &::before {
    content: $icon-phone-outbound;
  }
}
.icon-paragraph-right {
  &::before {
    content: $icon-paragraph-right;
  }
}
.icon-local {
  &::before {
    content: $icon-local;
  }
}
.icon-house-hall {
  &::before {
    content: $icon-house-hall;
  }
}
.icon-persons {
  &::before {
    content: $icon-persons;
  }
}
.icon-clock {
  &::before {
    content: $icon-clock;
  }
}
.icon-union {
  &::before {
    content: $icon-union;
  }
}
.icon-car {
  &::before {
    content: $icon-car;
  }
}
.icon-patch-plus {
  &::before {
    content: $icon-patch-plus;
  }
}
.icon-heart-like {
  &::before {
    content: $icon-heart-like;
  }
}
.icon-house {
  &::before {
    content: $icon-house;
  }
}
.icon-tools {
  &::before {
    content: $icon-tools;
  }
}
.icon-person {
  &::before {
    content: $icon-person;
  }
}
.icon-search {
  &::before {
    content: $icon-search;
  }
}
.icon-cart {
  &::before {
    content: $icon-cart;
  }
}
.icon-telephone {
  &::before {
    content: $icon-telephone;
  }
}
.icon-bar-chart {
  &::before {
    content: $icon-bar-chart;
  }
}
