.change-password
	form(action="").data-form 
		.data-form__body
			.data-form__title Сменить пароль
			.data-form__column
				.data-form__line
					label(for="old-password").data-form__lebel Введите старый&nbsp;пароль:
					.data-form__input
						input.input(id='old-password' autocomplete="off" type="text" name="old-password")
				.data-form__line
					label(for="new-password").data-form__lebel Введите новый&nbsp;пароль
					.data-form__input
						input.input(id="new-password" autocomplete="off" type="text" name="new-password" enterkeyhint="next")
				.data-form__line
					label(for="repeat-password").data-form__lebel Повторите новый пароль
					.data-form__input
						input.input(id="repeat-password" autocomplete="off" type="text" name="repeat-password" enterkeyhint="next")
				.data-form__line
					button(type="submit").data-form__button сохранить