.dropdown-menu._container._collapse
	.dropdown-menu__body
		.dropdown-menu__content
			.dropdown-menu__menu
				.dropdown-menu__buttons
					each menu in buttons
						.dropdown-menu__button
							span.t-text-16-14=menu.button 
							+iconfont('pointer-right', 'icon')
				.dropdown-menu__tabs.parent
					each menu in buttons
						.dropdown-menu__tab
							.dropdown-menu__title
								span=menu.button 
							.dropdown-menu__sub-menu
								ul.dropdown-menu__list
									each item in menu.links
										- const isObject = typeof item === 'object' && item !== null
										- const title = isObject ? Object.keys(item)[0] : item
										- const products = isObject ? item[title] : null
										li.dropdown-menu__link._slideToggle 
											span.dropdown-menu__link-button._trigger
												span=title 
												+iconfont('pointer-right', 'icon') 
											ul.dropdown-menu__sub-items._collapse
												if products && products.length
													each prod in products
														li.dropdown-menu__sub-item= prod
												else
													li.dropdown-menu__sub-item Нет товаров 
													li.dropdown-menu__sub-item Нет товаров 
													li.dropdown-menu__sub-item Нет товаров 
													li.dropdown-menu__sub-item Нет товаров 
													li.dropdown-menu__sub-item Нет товаров 