.sidebar-menu 
  .sidebar-menu__content
    .sidebar-menu__menu.parent 
      each menu in catalog
        .sidebar-menu__catalog._slideToggle 
          .sidebar-menu__link._trigger
            span= menu.categories
            .sidebar-menu__icons
              +iconfont('pointer-right', 'icon')
          .sidebar-menu__body.parent._collapse
            each item in menu.links
              ul.sidebar-menu__menu-catalog 
                li.sidebar-menu__sub-link 
                  a(href=linkTo("categories/electric-tools", filename))= item
                  //- .sidebar-menu__icons
                    +iconfont('pointer-right', 'icon') 
                  //- .sub-menu.sidebar-menu__sub-menu._collapse
                    ul.sub-menu__items
                      if productsMap[item]
                        each prod in productsMap[item]
                          li.sub-menu__item= prod
                        else
                          li.sub-menu__item Нет товаров
