$icomoon-font-family: "icon-set" !default;
$icomoon-font-path: "fonts" !default;

$icon-house-holl: unquote('"\\e900"');
$icon-persons: unquote('"\\e901"');
$icon-clock: unquote('"\\e902"');
$icon-union: unquote('"\\e904"');
$icon-car: unquote('"\\e905"');
$icon-patch-plus: unquote('"\\e906"');
$icon-heart-like: unquote('"\\e9da"');
$icon-house: unquote('"\\e907"');
$icon-tools: unquote('"\\e908"');
$icon-person: unquote('"\\e909"');
$icon-search: unquote('"\\e90a"');
$icon-cart: unquote('"\\e90b"');
$icon-telephone: unquote('"\\e90c"');
$icon-bar-chart: unquote('"\\e90d"');
$icon-heart: unquote('"\\e903"');

