@use '../../core/mixins' as *;

.product-categories {
  // .product-categories__body
  &__body {
    padding-block: 3.6rem 5rem;

    @include screen-490 {
      padding-block: 1.6rem 5rem;
    }
  }

  // .product-categories__content
  &__content {
    display: grid;
    grid-template-columns: 255px 1fr;
    gap: 31px;

    @include screen-1289 {
      gap: 20px;
    }

    @include screen-768 {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }

  // .product-categories__column
  &__column {
    width: auto;
  }

  // .product-categories__slide
  &__slide {
    .product-slide {
      // .product-slide__header
      &__header {
        display: flex;
        gap: 3rem;
        padding-bottom: 2rem;
        font-size: 16px;

        @include screen-490 {
          font-size: 14px;
        }
      }

      // .product-slide__type
      &__type {
        display: flex;
      }

      // .product-slide__buttons
      &__buttons {
        display: flex;
        gap: 2rem;
      }

      // .product-slide__body
      &__body {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: repeat(4, minmax(17%, 1fr));
        gap: 3.1rem;

        @include screen-1289 {
          grid-template-columns: repeat(3, minmax(17%, 1fr));
          gap: 20px;
        }

        @include screen-1068 {
          grid-template-columns: repeat(2, minmax(17%, 1fr));
          gap: 20px;
        }

        @include screen-768 {
          grid-template-columns: repeat(2, minmax(17%, 1fr));
          gap: 20px;
        }

        @include screen-540 {
          grid-template-columns: repeat(1, minmax(17%, 1fr));
          gap: 20px;
        }
      }

      // .product-slide__slide
    }
  }
}
