.footer#contacts
	.footer__body 
		.footer__content 
			.footer__column 
				.footer__logo 
					img(src=webRoot + "img/logo.svg" alt="logo") 
				.footer__text Ваш надежный поставщик строительных материалов, инструментов и товаров для&nbsp;ремонта.
				.footer__text 
					a(href="" target="_blank" rel="noopener noreferrer nofollow") Политика конфиденциальности
				.footer__text 
				a(href="" target="_blank") Договор оферты
			.footer__column 
				.footer__title
					h4.t-h4 каталог
				.footer__links 
					.footer__links-col
						a(href="#").footer__link Строительные материалы
						a(href="#").footer__link Электроинструмент
						a(href="#").footer__link Бензоинструмент
						a(href="#").footer__link Пиломатериалы
						a(href="#").footer__link Электротовары
						a(href="#").footer__link Сантехника
						a(href="#").footer__link Крепеж и метизы
					.footer__links-col
						a(href="#").footer__link Измерительные приборы
						a(href="#").footer__link Ручной инструмент
						a(href="#").footer__link Товары для сада и огорода
						a(href="#").footer__link Краски и химия
						a(href="#").footer__link Металл
						a(href="#").footer__link Сопутствующие товары
						a(href="#").footer__link Товары со скидкой
			.footer__column 
				.footer__title
					h4.t-h4 информация
				.footer__links 
					.footer__links-col
						a(href="#").footer__link О магазине
						a(href="#").footer__link Новости
						a(href="#").footer__link Производители
						a(href="#").footer__link Реквизиты
						a(href="#").footer__link Оплата и доставка
						a(href="#").footer__link Личный кабинет
						a(href="#").footer__link Избранное
			.footer__column 
				.footer__title
					h4.t-h4 контакты
				.footer__links-row 
					.footer__links-col 
						a(href="tel:+89611205000") 8&nbsp;961&nbsp;120&nbsp;50-00 
						.footer__text Боровский район, деревня Тимашово строение 3 
						a(href="#").footer__link 
						a(href="#").footer__link 
						a(href="#").footer__link 
						a(href="#").footer__link 
						a(href="#").footer__link 
					.footer__links-row 
						.footer__title
							h4.t-h4 режим работы
						.footer__text Пн-вс 08:00-19:00
