.header._container 
  .header__content
    .top-menu.header__top-menu
      .top-menu__column
        +iconfont('local', '_icon')
        span Обнинск
      .top-menu__column
        ul.top-menu__list 
          li.top-menu__item
            a(href="#").top-menu__link.link_underline-center Оплата и доставка
          li.top-menu__item
            a(href="#").top-menu__link.link_underline-center Производители
          li.top-menu__item
            a(href="#").top-menu__link.link_underline-center О магазине
          li.top-menu__item
            a(href="#").top-menu__link.link_underline-center Новости
          li.top-menu__item
            a(href="#").top-menu__link.link_underline-center Контакты
    .main-menu.header__main-menu
      .main-menu__column
        .main-menu__logo-wrapper 
          a(href="#home" aria-label="home" ).main-menu__logo.anchor-link 
            img(src=webRoot + "img/logo.svg" alt="logo") 
        .main-menu__button.button(data-da="col-2" data-da-position="1" data-da-resolution="920")
          +iconfont('paragraph-right', '_icon')
          span Каталог
      .main-menu__column(data-da="col-1" data-da-position="0" data-da-resolution="1260")
        form(action="/search/" aria-label="Поиск в интернете" ).search-form#quick-search
          label(for="site-search")
          .search-form__input 
            input(type="text" name="search" placeholder="Поиск по каталогу..." id="site-search" autocomplete="off")
            button.search-form__button-search(type="submit") 
              +iconfont('search', '_icon')
      .main-menu__column
        .menu-header
          ul.menu-header__list(data-da="menu-float__body" data-da-position="1" data-da-resolution="768") 
            li.menu-header__item.link_underline-center 
              a(href="#").menu-header__link 
                +iconfont('heart', '_icon')
                span._text Избранное
            li.menu-header__item.link_underline-center 
              a(href="#").menu-header__link 
                +iconfont('person', '_icon')
                span._text Войти
            li.menu-header__item.link_underline-center 
              a(href="#").menu-header__link 
                +iconfont('cart', '_icon')
                span._text Корзина
            li.menu-header__item.link_underline-center 
              a(href="#").menu-header__link 
                +iconfont('bar-chart', '_icon')
                span.menu-header__text Сравнение
          .menu-header__button.button.accent-button(data-da="col-2" data-da-position="2" data-da-resolution="690")
            +iconfont('phone-outbound', '_icon')
            a(href="tel:+7 961 120 50-00") 8&nbsp;961&nbsp;120&nbsp;50-00
      .main-menu__column.side-button
        include ../assets/burger-button
    .menu-screen 
      .menu-screen__column.col-1
      .menu-screen__column.col-2
