.product-categories
	.product-categories__body
		.product-categories__content
			.categories-filter
				.categories-filter__title Фильтр:
				.categories-filter__body 
					.categories-filter__column 
						.categories-filter__type Цена
						.values-price.categories-filter__price 
							.values-price__current-price
								.values-price__item
									label(for="price-start").values-price__label от
									.values-price__input
										input(id="price-start") 
								.values-price__item
									label(for="price-end").values-price__label до
									.values-price__input
										input(id="price-end").input
						.values-price__slide
					.categories-filter__column 
						.categories-filter__type
							span Производитель
							+iconfont('pointer-right', 'icon')
						.categories-filter__select 
			.product-categories__column(data-quantity-container)
				.product-categories__slide
					.product-slide
						.product-slide__header
							.product-slide__type Сортировать:
							.product-slide__buttons
								button(type="button").product-slide__button По популярности
								button(type="button").product-slide__button По цене
							.product-slide__col
						.product-slide__body 
							each product in products.priceProducts
								.product-slide__slide
									.product-card
										.product-card__header
											.product-card__label
												span= product.label
											.product-card__icons
												.product-card__compare
													+iconfont('bar-chart', 'icon')
												.product-card__favourites
													+iconfont('heart', 'icon')
													+iconfont('heart-like', 'icon')
										.product-card__content
											a(href="#").product-card__image
												+picture('/img/products/' + product.image, 'image')
											.product-card__info
												p= product.title 
											.product-card__price
												span 460,00р
											.product-card__sum
												+iconfont('sum', 'icon')
												| :
												span
											.product-card__article= product.article 
											.product-card__footer
												.product-card__counter
													.quantity.product-card__quantity
														.quantity__button.quantity-remove
															+iconfont('minus', 'icon')
														.quantity__input
															input.input(type="text" name="form[]" value="0" placeholder="<+>" autocomplete="off")
														.quantity__button.quantity-add
															+iconfont('plus', 'icon')
												.product-card__button
													span В корзину
						//- .navigation
							.navigation__prev
								.navigation__icon
									+iconfont('arrow-left', 'icon')
							.navigation__next
								.navigation__icon
									+iconfont('arrow-right', 'icon')
