.card-counter.product-card(data-quantity-container) 
	.product-card__sum
		+iconfont('sum', 'icon')
		| :&nbsp; 
		span
	.card-counter__prices
		.card-counter__price
			span 3 299
			+iconfont('rub', 'icon')
		.card-counter__old-price
			span 3 999
			+iconfont('rub', 'icon')
	.card-counter__buttons
		.product-card__counter
			.quantity.product-card__quantity
				.quantity__button.quantity-remove
					+iconfont('minus', 'icon')
				.quantity__input
					input.input(type="text" name="form[]" value="0" placeholder="<+>" autocomplete="off")
				.quantity__button.quantity-add
					+iconfont('plus', 'icon')
		.card-counter__button
			span.button В корзину