@use './sections/personal-account.scss';
@use './chunks/form-user-data.scss';
@use './chunks/history-order.scss';
@use 'sections/cart/section-cart.scss';
@use 'assets/send-order.scss';
@use 'components/select.scss';
@use 'sections/catalog/section-product-categories.scss';
