@use '../../core/mixins' as *;
@use '../../core/variables' as *;
@use '../../core/extend' as *;

$green: #18662a;
//* ----------------------------------------------------------------------------
.cart-page {
  padding-block: 5rem !important;

  // .cart-page__title
  &__title {
    margin-bottom: 5rem;
    font-size: 3.5rem;
    text-transform: uppercase;

    @include screen-425 {
      font-size: 2.3rem;
    }
  }

  // .cart-page__body
  &__body {
    display: flex;
    gap: 2.5rem;

    @include screen-960 {
      flex-direction: column;
    }
  }

  // .cart-page__column
  &__column {
    &:nth-child(n + 1):nth-child(-n + 4) {
      padding: 0 1rem;
    }

    &:nth-child(5) {
      text-align: center;
    }
  }

  // .cart-page__table-head
  &__table-head {
    display: grid;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
    margin-bottom: 2rem;
    border: 1px solid $green;
    border-radius: 5px;

    font-weight: 700;
    color: $color;

    // background: linear-gradient(
    //   180deg,
    //   rgb(88 141 3),
    //   oklch(35.043% 0.093 147.299deg) 100%
    // );
    @extend.greed-laout;

    @include screen-690 {
      display: none;
    }
  }

  // .cart-page__help-order
  &__help-order {
    @include min-920 {
      flex: 0 0 28.3rem;
    }
  }

  // .cart-page__user-order
  &__user-order {
    flex: 1 1 auto;
  }

  // .cart-page__button
  &__button {
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    i {
      font-size: 2.2rem;
    }
    &:hover {
      color: green;
    }
  }
}
//* ----------------------------------------------------------------------------
.order-place {
  .checkbox__label {
    &::before {
      content: '';

      position: relative;

      flex: 0 0 20px;
      align-self: center;

      height: 20px;
      margin-right: 10px;
      border: 1px solid $green;
      border-radius: 5px;

      transition: box-shadow 0.3s ease-in-out;
    }
    span {
      font-size: 1.3rem !important;
      line-height: 130%;
    }
  }

  // .order-place__send-order
  &__send-order {
    margin-bottom: 2rem;
    padding: 0 0.5rem;

    &._send-order {
      .order-place__send-button {
        display: block;
      }
    }
  }

  // .order-place__column
  &__column {
    flex: 0 1 auto;
    &:nth-child(2) {
      @include min-690 {
        flex: 0 1 300px;
      }
    }
  }

  // .order-place__footer
  &__footer {
    display: flex;
    gap: 2rem;
    align-items: flex-end;
    justify-content: space-between;

    @include screen-690 {
      flex-direction: column-reverse;
    }
  }

  // .order-place__column--login
  &__column--login {
    .login-container {
      position: relative;

      .registrations-modal {
        top: 50px;
        left: 0;
        margin-right: -120px;

        @include screen-490 {
          width: 100%;
        }
      }

      .recovery-modal {
        top: 50px;
        left: 0;

        @include screen-490 {
          width: 100%;
        }
      }

      .login-modal {
        top: 50px;
        left: 0;

        @include screen-490 {
          width: 100%;
        }
      }

      // .login-container__discounts
      &__discounts {
        font-weight: 700;
        white-space: nowrap;
      }

      // .login-container__column--result
      &__column--result {
        display: flex;
        justify-content: flex-end;
        width: 100%;
      }
      // .login-container__list
      &__list {
        width: auto;
        font-size: 1.5rem;
      }

      // .login-container__fade-in
      &__fade-in {
        @include screen-490 {
          pointer-events: none;

          position: absolute;
          z-index: 8;
          top: 0;
          left: 0;

          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          height: 50px;
          padding: 1rem 2rem;
          border: 1px solid $green;
          border-radius: 5px;

          opacity: 0;
          background: #fff;
          box-shadow: 1px 1px 3px #000;

          transition: all 0.5s ease-in-out;

          &._visible {
            pointer-events: all;
            transform: translateY(102%);
            display: flex;
            opacity: 1;
          }
        }
      }

      // .login-container__user-button
      &__user-button {
        pointer-events: none;

        @include screen-490 {
          pointer-events: all;
        }
      }
    }
  }

  // .order-place__column--button
  &__column--button {
    display: grid;
    grid-template-columns: 1fr;

    @include screen-490 {
      width: 100%;
    }
  }

  // .order-place__checkbox
  &__checkbox {
    display: flex;
    display: none;
    flex-direction: row-reverse;
    justify-self: end;

    padding-top: 0.8rem;
  }

  // .order-place__info
  &__info {
    p {
      font-size: 1.3rem;
      line-height: 130%;
    }

    @include min-690 {
      max-width: 60rem;
    }
  }

  // .order-place__form-button
  &__form-button {
    justify-self: end;

    padding: 0.9rem 3rem;
    border-radius: 1rem;

    font-size: 1.8rem;
    color: #fff;

    background: linear-gradient(180deg, rgb(123 123 124), rgb(21 23 25) 100%);

    @include screen-490 {
      width: 100%;
    }
  }

  // .order-place__send-button
  &__send-button {
    display: none;
    justify-self: end;

    padding: 0.9rem 3rem;
    border-radius: 1rem;

    font-size: 1.8rem;
    color: #fbf9f4;
    white-space: nowrap;

    background: linear-gradient(180deg, rgb(123 123 124), rgb(21 23 25) 100%);

    @include screen-490 {
      width: 100%;
    }
  }

  &__send-button--maiking-order {
    display: block;
  }
}
//* ----------------------------------------------------------------------------
.product-cart {
  // .product-cart__column
  &__column {
    padding-block: 0.8rem !important;
    font-size: 13px;

    @include screen-690 {
      font-size: 12px;
    }
    &:nth-child(n + 1):nth-child(-n + 4) {
      padding: 0 1rem;
    }
    &:nth-child(1) {
      @include screen-690 {
        grid-column: 1 / 4;
      }
    }

    &:nth-child(3) {
      @include screen-690 {
        place-self: end center;
      }
    }

    &:nth-child(4) {
      @include screen-690 {
        grid-column: -3 / -1;
        place-self: end center;
      }
    }

    &:nth-child(5) {
      align-self: start;
      padding: 1.5rem 0;
      text-align: center;

      @include screen-690 {
        grid-column: 4 / 5;
        grid-row: -1 / -2;
      }
    }
  }

  // .product-cart__product-info
  &__product-info {
    display: flex;
    align-items: center;
  }

  // .product-cart__image
  &__image {
    min-width: 9rem;

    @include screen-690 {
      min-width: 1rem;
      height: 100%;
    }

    img {
      width: 9rem;
      max-width: 100%;
    }
  }

  // .product-cart__description
  &__description {
    padding: 1rem;
  }

  // .product-cart__price
  &__price {
    display: flex;
    align-items: center;
  }

  // .product-cart__units
  &__units {
    margin-left: 5px;
    white-space: nowrap;

    @include screen-375 {
      display: block;
    }
  }

  // .product-cart__quantity-price
  &__quantity-price {
    font-weight: 550;
  }

  // .product-cart__button
  &__button {
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $green;
    }

    i {
      pointer-events: none;
      font-size: 1.6rem;
    }
  }
}

//* ----------------------------------------------------------------------------
.quantity {
  // .quantity__button

  &__button {
    cursor: pointer;

    width: 3rem;
    height: 3rem;

    font-size: 15px;
    line-height: 100%;

    ._icon {
      pointer-events: none;
      font-size: 12px;
    }

    &._disabled {
      opacity: 0.3;
    }
  }

  // .quantity__input
  &__input {
    input {
      max-width: 33px;

      font-size: 14px;
      font-weight: 500;
      line-height: 121.421%; /* 17px/14 */
      text-align: center;
    }
  }
}
//* ----------------------------------------------------------------------------

.counter-product {
  width: 100%;
  padding: 10px 0;

  // .counter-product__quantity
  &__quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid $green;
    border-radius: 5px;
  }

  &__price {
    margin-top: 2rem;

    @include screen-690 {
      margin-top: 4rem;
      text-align: center;
    }
  }
}
//* ----------------------------------------------------------------------------
.help-order {
  @include screen-920 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  // .help-order__info
  &__info {
    flex: 0 1 28.3rem;

    padding: 1.8rem;
    border: 1px solid $green;
    border-radius: 10px;

    text-align: center;

    @include min-920 {
      &:not(:last-child) {
        margin-bottom: 3.4rem;
      }
    }

    @include screen-920 {
      display: flex;
      flex: 0 1 50%;
      flex-direction: column;
    }
  }

  &__title {
    padding-bottom: 2rem;
    font-size: 1.8rem;

    @include screen-920 {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      height: 100%;
    }
  }

  // .help-order__text
  &__text {
    margin-bottom: 1.6rem;
    font-size: 13px;

    @include screen-375 {
      font-size: 12px;
    }

    p {
      margin-bottom: 0.5rem;
    }
    span {
      font-weight: 700;
    }
  }

  // .help-order__phone
  &__phone {
    font-size: 2rem;
    font-weight: 500;
  }
}
//* ----------------------------------------------------------------------------
.result-container {
  // .result-container__body
  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    margin-bottom: 4.3rem;
    padding: 17px 10px;
    border: 1px solid $green;
    border-radius: 5px;

    @include screen-490 {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  // .result-container__column
  &__column {
    &:nth-child(1) {
      p {
        font-weight: 700;
        &:nth-child(1) {
          margin-bottom: 3px;
        }
        &:nth-child(2) {
          margin-bottom: 16px;
        }
      }
    }
    &:nth-child(2) {
      justify-self: end;
      text-align: right;
    }
  }

  // .result-container__button

  &__button {
    padding: 8px 27px;
    border: 1px solid $green;
    border-radius: 24px;
    background: #fff;

    &:active {
      color: #fff;
      background: $color;
    }
  }

  // .result-container__column--result

  &__column--result {
    .icon-rub {
      display: flex;
      align-items: flex-end;
      font-size: 13px;
      font-weight: 100;
    }
  }

  // .result-container__totalprice-order

  &__totalprice-order {
    display: flex;
    gap: 5px;
    align-items: flex-end;
    justify-content: flex-end;

    margin-bottom: 8px;
  }

  // .result-container__discounts
  &__discounts {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-bottom: 8px;
  }

  // .result-container__final-order
  &__final-order {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    font-weight: 700;
  }
}
