@use '../core/variables' as *;
@use '../core/mixins' as *;

.feed-back {
  .data-form__line {
    @include screen-490 {
      display: flex;
      flex-direction: column;
    }
  }

  .data-form__lebel {
    min-width: 150px;

    @include screen-490 {
      width: 100%;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      margin-left: 1.5rem;

      text-align: left;
      white-space: normal;
    }
  }

  .data-form__input {
    @include min-690 {
      input {
        min-width: 30rem;
      }
    }

    @include screen-375 {
      width: 100%;
      input {
        min-width: 100%;
      }
    }
  }
}

.data-form {
  // .data-form__body
  &__body {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 3.8rem 2rem;
    justify-content: center;

    width: auto;
    margin-bottom: 2rem;

    @include screen-690 {
      grid-template-columns: min-content;
    }

    @include screen-425 {
      grid-template-columns: 1fr;
    }
  }

  // .data-form__column
  &__column {
    width: 100%;
  }

  // .data-form__title
  &__title {
    font-size: 15px;
    font-weight: 700;
    text-align: left;

    @include min-690 {
      grid-column: 1 / 3;
    }
  }

  // .data-form__line
  &__line {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    @include screen-425 {
      flex-direction: column;
      width: 100%;
    }
  }

  // .data-form__lebel
  &__lebel {
    margin-right: 2rem;

    @include screen-425 {
      width: 100%;
      margin-right: 1.5rem;
      margin-bottom: 1rem;
      margin-left: 1.5rem;

      text-align: left;
      white-space: normal;
    }
  }

  // .data-form__input
  &__input {
    input {
      height: 32px;
      padding-left: 0.5rem;
      border: 1px solid $green;
      border-radius: 5px;

      font-size: 13px;
      line-height: 228.571%; /* 32px/14 */

      &:focus {
        box-shadow: 0 0 0 2px #34a86469;
      }
    }

    @include min-690 {
      input {
        min-width: 22rem;
      }
    }

    @include screen-690 {
      input {
        min-width: 30rem;
      }
    }

    @include screen-425 {
      width: 100%;
      input {
        min-width: 100%;
      }
    }
  }

  // .data-form__button
  &__button {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.9rem 3rem;
    border-radius: 16px;

    font-size: 1.4rem;
    color: #fbf9f4;

    background: linear-gradient(
      180deg,
      rgb(88 141 3),
      oklch(35.043% 0.093 147.299deg) 100%
    );
  }
}
