@use '../core/variables' as *;
@use '../core/mixins' as *;

.history-order {
  // .history-order__period-date
  &__period-date {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    align-items: center;
    margin-bottom: 3rem;

    @include screen-425 {
      grid-template-columns: 1fr 1fr;
    }
  }

  // .history-order__period-history

  &__period-history {
    display: flex;
    flex-direction: column;
  }
}

.date-period {
  // .date-period__title
  &__title {
    margin-right: 5px;

    @include screen-425 {
      grid-column: 1 / 3;
      margin-bottom: 2rem;
    }
  }

  // .date-period__item
  &__item {
    margin-right: 3rem;
  }

  // .date-period__label
  &__label {
    margin-right: 1rem;
  }

  // .date-period__input
  &__input {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;

    input {
      position: relative;

      padding: 0.5rem;
      padding-left: 3rem;
      border: 1px solid $green;
      border-radius: 5px;

      @include screen-425 {
        max-width: 105px;
      }

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;

        position: absolute;
        z-index: 1;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
      }
    }
  }
}

.history-period {
  // .history-period__thead

  &__thead {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    margin-bottom: 20px;
    padding: 13px;
    border: 1px solid $green;
    border-radius: 5px;

    font-weight: 700;
  }

  // .history-period__item
  &__item {
    display: flex;
    flex: 23%;
    align-items: center;

    @include screen-425 {
      font-size: 10px;
    }
  }

  // .history-period__row

  &__row {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    padding: 20px 13px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
}
